@model MyMovieApp.Models.UpComing.Root
@{
    ViewData["Title"] = "Index";
}
<a class="btn mr-2" asp-area="" asp-controller="Movie" asp-action="popularMovie">See Whats Popular!!</a>

<div class="text-center" style="color: white;">
    <h1 class="display-4 align-self-md-center" style="color: white;">Coming to a theater near you soon!</h1>

</div>

@*
    Coming Soon
    <form class="d-flex" style="text-align: right;">
    <input class="form-control me-sm-2" type="text" placeholder="Search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search for a movie</button>
</form>*@

<div class="flex-container">
    <div class="row row-cols-1 row-cols-md-2 g-4">

        @foreach (var item in Model.results)
        {
            <div class="col-md-4">
                <div class="h-50">
                    <div class="card" style="width: 18rem;">
                        <img src="https://image.tmdb.org/t/p/w500/@item.backdrop_path" class="card-img-top" alt="...">
                        <p class="text-center">Coming:  @item.release_date</p>
                        <div class="card-body">
                            <h5 class="card-title">@item.title</h5>


                            <a class="btn mr-2" asp-area="" asp-controller="Movie" asp-action="Details" asp-route-id="@item.id">Details</a>
                        </div>


                    </div>
                </div>
            </div>


        }
    </div>
</div>




